.host-nav a{
    padding: 20px;
    color: rgb(23, 20, 20);
    text-decoration: none;
    font-size: 1.5rem;
    
}

.host-nav{
    margin-top: 2rem;
}

.host-nav a:hover{
    text-decoration: underline;
    color: chocolate;
    font-size: 1.4rem;
}